services:
  ui:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      VITE_CLERK_PUBLISHABLE_KEY: ${VITE_CLERK_PUBLISHABLE_KEY}
      CLERK_SECRET_KEY: ${CLERK_SECRET_KEY}
      VITE_BASE_API_URL: ${VITE_BASE_API_URL}